.event {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  justify-content: space-evenly;
}
.eventBody {
  display: flex;
  flex-direction: row;
}
.eventWraper {
  width: 100%;
}

.peopleAttendingEvent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eventDescription {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.eventPicture {
  flex-grow: 1;
}
.eventPicture img {
  flex-shrink: 0;
  min-width: 100% !important;
  min-height: 100% !important;
}
